.subcat_thumb {
	height: 200px;
    margin: 10px 5px 0 0;
}

#progress_bar {
	position: absolute;
	right: 0px;
	left: -4px;
    margin: 10px 4px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    font-size: 12px;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    width: 265px;	
}
#progress_bar.loading {
	opacity: 1.0;
}
#progress_bar .percent {
	background-color: #99ccff;
	height: auto;
	width: 0;
}

.service-panel {
    height:100px; 
    border-bottom:1px solid #CCC; 
    padding-bottom:10px;
    padding-top:10px;
    position: relative;
   
}



.service-panel:first-child{
    padding-top: 0;
    padding-bottom: 10px;
}

.service-panel:last-child{
    border: 0;
    padding-bottom: 0;
}

.service-panel .content .service-content{
    height: 100%;
}

.service-panel .content .service-content div:first-child{
}
.service-panel .content .service-content div:last-child{
    height: 60px;
    overflow: hidden;
    text-overflow:ellipsis;
}
/*.service-panel .service-content div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    height: 100%;
}

.service-panel .service-content div p{
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow:ellipsis;
    height: 100%;
}*/

.service-panel .read-more {
    position: absolute;
    bottom: 0;
    right: 0;
}