.contacts-header {
	background: #008469 !important;
}

.panel.contacts-content{
	padding: 0 10px 0 10px;
}

.panel.contacts-content .contact-label {
	font-weight: bold;
}

.panel.contacts-content .contact-text,
.panel.contacts-content .contact-text a,
.panel.contacts-content .contact-text .contact {
	font-size: 13px;
}